input, select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.filter-block input, .filter-row_field input, .filter-block select, .filter-row_field select {
    font-size: 24px;
}

.filter-row_field input[type="text"] {
    border: 0px;
    height: 100%;
    width: 100%;

    padding: 30px;
    background-color: #F9F9F9;
}

.label-checkbox input[type="checkbox" i] {
    margin: 0;
    margin-right: 10px;
}

.filter-block input[type="radio"] {
    border-radius: 50%;
    width: 20px;
    height: 20px;

    border: 1px solid #333;
    margin: 0.3em 0;
    position: relative;
    top: 4px;
}

.filter-block input[type="radio"]:checked {
    background-color: #002D4D;
    border: 1px solid #002D4D;
    outline: unset !important /* I added this one for Edge (chromium) support */
}

.filter-block input[type="checkbox"] {
    width: 20px;
    height: 20px;

    border: 1px solid #333;
    position: relative;
}

.filter-block input[type="checkbox"]:checked {
    background-color: #002D4D;
    border: 1px solid #002D4D;
    outline: unset !important /* I added this one for Edge (chromium) support */
}

.filter-row select {
    border: 0px;
    height: 100%;
    width: 100%;
    padding: 30px 60px 30px 30px;
    background-color: #F9F9F9;

    background-image: url(../images/arrow.png);
    background-position: calc(100% - 30px) calc(50%);
    background-size: 21px 13px;
    background-repeat: no-repeat;

    text-align-last: center;
}

.filter-hotel-district-wrapper {
    background-color: #F9F9F9;
    padding: 60px 0;
}

.filter-hotel-district {
    display: flex;
    flex-flow: wrap;
    position: relative;
}

.filter-hotel-district-left {
    width: 440px;
    background-color: #332E3A;
    z-index: 1;
    position: relative;
}

.filter-hotel-district-right {
    width: calc(100% - 440px);
}

.filter-hotel-district:before {
    content: '';
    display: block;
    background-color: #332E3A;
    position: absolute;
    right: calc(100% - 440px);
    top: -60px;
    width: 50vw;
    height: calc(100% + 120px);
    z-index: 0;
}

.filter-hotel-district-title {
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    padding-bottom: 80px;
}

.list-district {
    color: #FFFFFF;
    width: 215px;
    max-width: 100%;
}

.list-district_item {
    font-size: 24px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
}

.list-district_item.active, .list-district_item:hover {
    color: #FF6E2A;
}

.filter-hotel-selected-district {
    font-size: 32px;
    text-align: right;
    color: #332D39;
    font-weight: 500;
}

.list-region {
    padding-top: 80px;
    margin-left: -160px;
    position: relative;
}

.list-region .swiper-slide img {
    width: 100%;
}

.region-card {
    width: 100%;
    padding-top: 89%;
    background-color: #FFF;
    position: relative;
    user-select: none;
}

.region-card::before {content: '';position: absolute;top: 0;left: 0;height: 6%;width: 100%;display: block;background-color: #d3cbc7;}

.region-card_mumber {
    position: absolute;
    left: 8%;
    top: 13%;
    color: #002D4D;
    font-size: 0.2em;
    font-weight: 500;
}

.region-card_map {
    position: absolute;
    right: 5%;
    top: 15%;
    width: 65%;
}

.region-card_name {
    position: absolute;
    left: 7%;
    bottom: 6%;
    font-size: 0.09em;
    font-weight: 500;
    width: 90%;
}

.region-card_name::after {content: '\f105';position: absolute;top: 0;right: 0;display: block;font-family: 'FontAwesome';font-size: 1.2em;line-height: 1.1em;color: #002D4D;}

.filter-hotel-district-nav {
    padding: 40px 0;
    text-align: right;
}

.open-hotel-search-advance {
    display: inline-block;
}

.filter-hotel-district-nav>* {
    vertical-align: middle;
}

.open-hotel-search-advance {
    color: #002D4D;
    font-size: 18px;
    font-weight: 300;
    margin: 0 10px;
    cursor: pointer;
}

.list-region .swiper-pagination {
    display: none;
}

.list-region .swiper-button-prev {
    right: 60px;
}

.list-region .swiper-button-next {
    right: 0;
}

.list-region .swiper-button-prev, .list-region .swiper-button-next {
    top: 25px;
    left: auto;
    margin-top: 0;
    width: 20px;
    height: 33px;
    background-size: 20px 33px;
}

.filter-hotel-advance {
    padding: 40px 0 0;
}

.filter-row {
    margin: 20px 0;
    display: flex;
    flex-flow: wrap;
}

.filter-row_label {
    width: 435px;
    padding: 30px;
    color: #FFF;
    background-color: #002D4D;
    font-size: 24px;
    font-weight: 500;
}

.filter-row_field {
    width: calc(100% - 435px);
    /* padding: 30px; */
    background-color: #F9F9F9;
}

.filter-block .filter-row_label {
    width: 100%;
    text-align: center;
}

.filter-block .filter-row_field {
    padding: 10px 30px;
    width: 100%;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1.2px;
    line-height: 1.66;
    position: relative;
}

.label-checkbox {
    margin: 25px 3%;
    display: inline-block;
}

.label-checkbox * {
    vertical-align: middle;
}

.showing-item {
    margin: 20px 0;
}

.label-radio {
    font-size: 24px;
    font-weight: 500;
    display: flex;
}

.label-radio span {
    width: calc(100% - 20px);
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 10px;
}

.district-submit.btn {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.search-update-date {
    font-size: 32px;
    padding-bottom: 30px;
    font-weight: 500;
}

.search_count {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
}

.search_result_item {
    padding: 30px;
}

.search_result_item:nth-child(2n+1) {
    background-color: #D3CBC7;
}

.search_result_row {
    display: flex;
    align-items: baseline;
    margin: 5px 0;
    flex-flow: wrap;
    font-size: 24px;
}

.search_result_row_title {
    width: 250px;
    font-weight: 500;
}

.search_result_row_value {
    width: calc(100% - 250px);
    padding-left: 15px;
}

@media only screen and (max-width: 960px) {
    .filter-hotel-district-wrapper {
        padding: 0;
        background-color: transparent;
    }

    .filter-hotel-district:before {
        display: none;
    }

    .filter-hotel-district-left {
        width: 100%;
        padding: 70px 60px;
    }

    .filter-hotel-district-right {
        width: 100%;
    }

    .filter-hotel-selected-district {
        display: none;
    }

    .list-region {
        margin-left: 0;
        padding-top: 40px;
    }

    .filter-hotel-district-title {
        font-size: 41px;
        padding-bottom: 40px;
    }

    .list-district_item {
        font-size: 28px;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .list-district {width: 275px;}

    .list-region .swiper-button-prev, .list-region .swiper-button-next {
        display: none;
    }

    .list-region .swiper-pagination {
        display: block;
        width: 100%;
        padding-top: 40px;
        position: relative;
    }

    .filter-hotel-district-nav {
        display: flex;
        flex-flow: column-reverse;
        align-items: center;
    }

    .open-hotel-search-advance {
        margin-top: 20px;
        font-size: 20px;
    }

    .filter-hotel-advance {
        padding: 40px 0 100px;
    }

    .filter-row_label {
        width: 100%;
    }

    .filter-row_field {
        width: 100%;
        padding: 10px;
    }

    .filter-row_field input[type="text"] {
        padding: 20px 20px;
        border: 1px solid #666666;
    }

    .label-checkbox {
        width: 100%;
        margin: 15px 0;
        display: flex;
    }

    .filter-row select {
        padding: 20px 50px 20px 20px;
        background-position: calc(100% - 20px) calc(50%);
    }

    .showing-item {
        margin: 0;
        padding: 20px 0;
    }

    .district-submit.btn {
        left: 50%;
        right: auto;
        bottom: -100px;
        transform: translate(-50%, 0);
    }

    .search_result_row {
        margin: 10px 0;
        font-size: 20px;
    }

    .search_result_row_title {
        width: 100%;
    }

    .search_result_row_value {
        width: 100%;
        padding-left: 0;
    }

    .search_result_item {
        padding: 20px 30px;
    }


    .search-update-date {
        font-size: 28px;
    }

    .search_count {
        font-size: 22px;
    }
}


@media only screen and (max-width: 767px) {
    .filter-hotel-district-title {
        font-size: 24px;
    }

    .filter-hotel-district-left {
        padding: 35px 30px;
    }

    .list-district_item {
        font-size: 18px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .list-district {
        width: auto;
        display: inline-block;
    }

    .open-hotel-search-advance {
        font-size: 16px;
    }

    .filter-row_label {
        padding: 15px;
        font-size: 20px;
    }

    .filter-hotel-advance {
        padding: 20px 0 100px;
    }

    .filter-row_field input[type="text"] {
        padding: 10px;
    }

    .filter-block .filter-row_field {
        padding: 10px 15px;
        font-size: 16px;
    }

    .label-checkbox {
        margin: 9px 0;
    }

    .filter-block input, .filter-row_field input, .filter-block select, .filter-row_field select {
        font-size: 18px;
    }

    .filter-row select {
        padding: 10px 30px 10px 10px;
        background-position: calc(100% - 5px) calc(50%);
    }

    .label-radio {
        font-size: 15px;
    }

    .label-radio span {
        padding-left: 10px;
    }

    .search_count {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .search-update-date {
        font-size: 19px;
        padding-bottom: 15px;
    }

    .search_result_row {
        font-size: 18px;
    }

    .search_result_item.content-style {
        padding: 10px 15px;
    }

}