h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.22;
    color: #002D4D;
    /* margin-bottom: 60px; */
    margin-bottom: 45px;
    margin-top: 0;
}

h2 {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.32;
    color: #004E86;
    margin-bottom: 20px;
    margin-top: 0;
}

h3 {
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.32;
    color: #002D4D;
    margin-bottom: 60px;
}

h3.subtitle{
    margin-top: 50px;
    margin-bottom: 40px;
    color:#744C24!important;
}

p {
    margin-top: 0;
    margin-bottom: 50px;
    line-height: 1.5;
}

p:last-child {
    margin-bottom: 0;
}

ol {
    padding-left: 1.3em;
    margin: 0;
}

ol.laprarent {
    counter-reset: item;
    padding-inline-start: 40px;
}
ol.laprarent li {
    display: block ;
    counter-increment: item;
}
ol.laprarent li:before {
    content: " ("counter(item,lower-alpha)") ";
    display: inline-block;
    text-indent: -40px;
}

ul{
    list-style-type: none;
    padding-inline-start: 0px;
}

.text-center {
    text-align: center;
}

.content-style {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
}

.page-header {
    padding: 50px 0;
    background-color: #004E86;
    color: #FFF;
    background-image: url('../images/page-header-bg.png');
    background-size: cover;
    max-height: 184px;
}

.breadcrumb {
    font-size: 17px;
    display: flex;
    flex-flow: wrap;
    margin: -3px -5px;
}

.breadcrumb-item {
    display: inline-block;
    position: relative;
    margin: 3px 5px;
    text-decoration: none !important;
    color: #FFF;
}
.breadcrumb-item.current {
    color: #7EDFCC;
}

.breadcrumb-item:nth-child(1n+2) {
    padding-left: 20px;
}

.breadcrumb-item:nth-child(1n+2)::before {
    content: '\f105';
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5em;
    line-height: 0.85;
    color: #FFF;
}

.page-title {
    margin-top: 20px;
    font-size: 45px;
    font-weight: 700;
    line-height: 0.92;
}

.page-tab_list_wrapper {
    padding: 30px 0;
    background-color: #332E3A;
    color: #FFF;
}

.page-tab_trigger,
.page-tab_curr {
    display: none;
}

.page-tab_trigger {
    position: absolute;
    right: 20px;
    top: 0.3em;
    width: 25px;
    height: 25px;
    z-index: 21;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.page-tab_trigger::after {
    content: '\f107';
    font-family: 'FontAwesome';
    color: #FFF;
    font-size: 1.5em;
}

.open-tab .page-tab_trigger {
    transform: rotate(180deg);
}

.page-tab_curr {
    font-size: 16px;
    color: #80E0CE;
    font-weight: 500;
    padding: 10px 0;
    padding-right: 35px;
    position: relative;
    cursor: pointer;
    letter-spacing: 1px;
}

.page-tab_list {
    margin: 0 -15px;
    text-align: center;
    font-size: 24px;
}

.page-tab_list_item {
    display: inline-block;
    padding: 0 15px;
    margin: 10px 0;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    color: #FFF !important;
    text-decoration: none !important;
}

.page-tab_list_item:nth-child(1n+2) {
    border-left: 1px solid #80E0CE;
}

.page-tab_list_item:hover,
.page-tab_list_item.active {
    color: #80E0CE !important;
}

.page-content {
    padding-top: 60px;
}

.tab-title {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.22;
    color: #002D4D;
    margin-bottom: 60px;
}

.content-title {
    width: 100%;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 1.32;
    color: #002D4D;
    margin-bottom: 20px;
}

.content-title>div {
    width: calc(100% - 480px);
}

.content-text {
    width: 100%;
}

.content-text-with-img {
    width: calc(100% - 480px);
    display: inline-block;
    padding-left: 25px;
}

.content-img {
    width: 480px;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    margin: -5px;
}

.content-section {
    display: flex;
    flex-flow: wrap;
    /* padding-bottom: 30px; */
}

.content-img_item {
    width: 50%;
    display: inline-block;
    padding: 5px;
    text-align: center;
}

.content-img_single_item {
    width: 100%;
    padding: 5px;
    text-align: center;
}


.content-img_caption {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 1.2px;
    color: #002D4D;
}

.content-slider_video iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.content-slider_video::after {
    content: '';
    padding-top: 75%;
    display: block;
}

.content-slider_video {
    position: relative;
}

.content-slider_title {
    margin-top: 20px;
    padding-top: 15px;
    position: relative;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.2px;
    line-height: 1.66;
}

.content-slider_title:before {
    content: '';
    display: block;
    width: 40%;
    height: 1px;
    background-color: #C1E5E1;
    position: absolute;
    left: 0;
    top: 0;
}

.content-section.content-slider {
    position: relative;
}

.content-section.content-slider .swiper-button-next,
.content-section.content-slider .swiper-button-prev {
    top: 75px;
    margin-top: 0;
    /* --swiper-navigation-size: 32px; */
}

.content-section.content-slider .swiper-pagination {
    display: none;
    position: static;
    width: 100%;
    margin-top: 30px;
}

.content-section.content-slider .swiper-button-next {
    right: 0;
}

.content-section.content-slider .swiper-button-prev {
    right: 50px;
    left: auto;
}

.content-card-container{
    display: flex;
    margin-top: 75px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.content-card {
    /* width: calc(50% - 45px); */
    flex: 0 0 calc(50% - 40px);
    display: flex;
    padding: 35px 30px;
    background-color: #014B70;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    text-decoration: none !important;
    position: relative;
    margin: 0 0 40px 0;
    box-shadow: 11px 11px 20px 0px #aaa;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/* .content-card::after {
    content: '\f105';
    font-family: 'FontAwesome';
    position: absolute;
    right: 15px;
    bottom: 20px;
    font-size: 35px;
    line-height: 22px;
    color: #002D4D;
} */

.content-title.has-logo>div {
    padding-right: 100px;
    position: relative;
}

.new-logo {
    position: absolute;
    right: 30px;
    top: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
}

.new-logo::after {
    content: '';
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #C1272D;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.content-group {
    margin-bottom: 20px;
}

.content-group-title {
    padding: 30px;
    background-color: #014B70;
    color: #FFF;
    font-size: 26px;
    font-weight: 500;
    position: relative;
}

.content-group.accordion .content-group-title {
    padding-right: 100px;
    cursor: pointer;
}

.content-group.accordion .content-group-title:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 50px;
    display: block;
    width: 38px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/plus.svg);
}

.content-group.accordion.active .content-group-title:after {
    background-image: url(../images/minus.svg);
}

.content-group-text {
    padding: 1px 0px;
    background-color: #F9F9F9;
}

.content-group-text-space {
    padding: 50px 30px;
}

.content-group.accordion .content-group-text {
    display: none;
}

.content-link-block {
    display: flex;
    flex-flow: wrap;
    font-size: 18px;
    margin: 35px 0;
    /* padding: 0 20px; */
}

.content-link-block-time {
    width: 230px;
    font-weight: 500;
}

.content-link-block-text {
    width: calc(100% - 230px);
    /* padding-left: 15px; */
}


.content-block-table {
    display: table;
    width: 100%;
}

.content-block-row {
    display: table-row;
    width: 100%;
}

.content-block-col {
    width: auto;
    display: inline-block;
    display: table-cell;
    font-size: 18px;
    /* padding: 30px 0; */
    padding: 0;
    /* padding-left: 15px; */
    padding-top: 30px;
}





.content-group-text-group {
    padding: 30px 0;
}

.content-group-text-group:nth-child(2n+1) {
    background-color: #F9F9F9;
}

.content-price-block {
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

.content-price-block-price {
    width: 400px;
}

.content-price-block-text {
    width: calc(100% - 400px);
}

.content-accordion-block-title {
    font-weight: 500;
    position: relative;
    cursor: pointer;
    padding-right: 70px;
}

.content-accordion-block-text {
    padding-top: 10px;
    display: none;
}

.content-accordion-block-title::after {
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 50px;
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 35px;
    margin-top: -5px;
    color: #002D4D;
    transition: 0.3s;
}

.content-accordion-block.active .content-accordion-block-title::after {
    transform: rotate(180deg);
}



.reponsive-table {
    width: 100%;
    overflow-x: auto;
}




table.content-table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    margin-bottom: 15px;
}

table.content-table thead tr th {
    padding: 30px;
    background-color: #014B70;
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    border: 0;
    border-right: 1px solid #fff;
}

table.content-table tbody tr td {
    background-color: #E6E6E6;
    font-size: 22px;
    /* margin: 35px 0; */
    padding: 20px;
    text-align: center;
    border: 0;
    border-right: 1px solid #fff;
}


table.content-table tbody tr:nth-child(2n+1) td {
    background-color: #F9F9F9;
}


.reponsive-shadow-table {
    width: 100%;
    overflow-x: auto;

/*
    background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(0, 0, 0, .30), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(0, 0, 0, .30), rgba(255, 255, 255, 0));

    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
    background-attachment: local, local, scroll, scroll; */

}



table.content-table-white {
    width: 100%;
    border: 0;
    border-spacing: 0;
    margin-bottom: 15px;
}

table.content-table-white thead tr th {
    padding: 30px;
    background-color: #014B70;
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    border: 0;

}

table.content-table-white tbody tr td {
    /* background-color: #FFF; */
    font-size: 18px;
    /* margin: 35px 0; */
    padding: 20px;
    text-align: center;
    border: 0;
}



.header-tools_item a:link,
.header-tools_item a:active {
    color: #333333;
    text-decoration: none;


}



.margin0auto {
    margin: 0 auto;
}


@media only screen and (max-width: 1400px) {
    .content-img {
        width: 320px;
    }

    .content-text-with-img {
        width: calc(100% - 320px);
    }

    .content-card-container{
        margin-top: 60px;
    }

    .content-card {
        flex:0 0 calc(50% - 25px);
    }

    .content-title>div {
        width: calc(100% - 320px);
    }
}

@media only screen and (max-width: 960px) {



    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 23px;
        margin-bottom: 30px;
    }

    h3.subtitle {
        margin-top: 40px;
        margin-bottom: 30px;
    }





    .content-style {
        font-weight: 300;
        font-size: 18px;
    }

    .breadcrumb {
        font-size: 18px;
    }

    .page-title {
        font-size: 48px;
    }

    .tab-title {
        font-size: 38px;
    }

    .content-title {
        font-size: 27px;
    }

    .content-title>div {
        width: 100%;
    }


    .content-text, .content-text-with-img {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }


    .content-img {
        width: 100%;
        padding-top: 0;
        padding-bottom: 20px;
    }

    .content-img_caption {
        font-size: 22px;
    }

    .content-slider_title {
        font-size: 22px;
    }

    .content-section.content-slider .swiper-button-next,
    .content-section.content-slider .swiper-button-prev {
        display: none;
    }

    .content-section.content-slider .swiper-pagination {
        display: block;
    }

    .new-logo {
        right: 0;
    }

    .content-title.has-logo>div {
        padding-right: 60px;
    }

    .content-card-container{
        margin-top: 40px;
    }

    .content-card {
        width: 100%;
        flex: 0 0 100%;
        padding: 20px;
        margin: 0 0 20px;
        font-size: 22px;
    }

    .content-card::after {
        right: 8px;
    }

    .content-section.same-row .content-img_item {
        width: 100%;
        padding: 0;
    }

    .content-section.same-row .content-img {
        width: 20%;
        padding: 0;
    }

    .content-section.same-row .content-text {
        width: 80%;
        padding-right: 35px;
    }

    .content-group-title {
        padding: 20px 30px;
    }

    .content-group.accordion .content-group-title {
        padding-right: 60px;
    }

    .content-group.accordion .content-group-title:after {
        right: 20px;
    }

    .content-link-block-time {
        width: 100%;
        padding-bottom: 10px;
        font-weight: 400;
    }


    .content-block-table {
        display: block;
    }

    .content-block-table .content-block-row {
        margin-top: 35px;
        display: block;
    }

    .content-block-col {
        width: 100%;
        display: block;
        font-size: 18px;
        padding: 0 15px;
    }




    .content-link-block {
        padding: 0;
    }

    .content-link-block-text {
        width: 100%;
        padding-left: 0;
    }

    .content-price-block-text {
        width: 100%;
    }

    .content-price-block-price {
        width: 100%;
        padding-top: 20px;
    }

    .content-accordion-block-title {
        padding-right: 40px;
    }

    .content-accordion-block-title::after {
        right: 0;
    }




    table.content-table tbody tr td {
        font-weight: 300;
    }


}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 25px;
    }
    h3.subtitle {
        margin-top: 35px;
        margin-bottom: 25px;
    }


    .page-content {
        padding-top: 40px;
    }

    .breadcrumb {
        font-size: 13px;
    }

    .breadcrumb .breadcrumb-item,
    .breadcrumb .breadcrumb-item::before{
        display: none;
    }

    .breadcrumb .breadcrumb-item.current{
        display: block;
        padding-left: 0;
    }

    .page-header {
        padding: 30px 0;
    }

    .page-title {
        font-size: 32px;
        margin-top: 10px;
    }

    .tab-title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .page-tab_trigger,
    .page-tab_curr {
        display: block;
    }

    .page-tab_list_wrapper {
        padding: 20px 0;
    }

    .page-tab_list {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: left;
        background-color: #332e3a;
        margin: 0;
        padding: 0 20px 40px;
        font-size: 16px;
        z-index: 20;
    }

    .open-tab .page-tab_list {
        display: block;
    }

    .page-tab_list_wrapper .site-wrapper {
        position: relative;
    }

    .page-tab_list_item {
        display: block;
        margin: 0;
        padding: 10px 0;
        padding-right: 40px;
    }

    .page-tab_list_item:nth-child(1n+2) {
        border-left: 0;
        border-top: 1px solid #CCC;
    }

    .content-section.same-row .content-text {
        padding-right: 15px;
    }

    .content-card-container{
        margin-top: 30px;
    }
    .content-title {
        font-size: 20px;
    }

    .content-card {
        font-size: 18px;
    }

    .content-style {
        font-size: 16px;
    }

    .content-img_caption {
        font-size: 14px;
    }

    .content-title.has-logo>div {
        padding-right: 45px;
    }

    .new-logo {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 10px;
    }

    .content-slider_title {
        font-size: 16px;
    }

    .content-group.accordion .content-group-title::after {
        width: 20px;
        height: 20px;
        right: 15px;
    }

    .content-group-title {
        padding: 15px;
        font-size: 17px;
    }

    .content-group.accordion .content-group-title {
        padding-right: 40px;
    }

    .content-group-text-space {
        padding: 0 15px;
    }

    .content-link-block-time {
        padding-bottom: 0;
    }

    .content-link-block * {
        font-size: 0.95em;
    }

    .content-group-text-group {
        padding: 10px 0;
    }

    .content-price-block-price {
        padding-top: 5px;
    }

    .content-accordion-block-title {
        padding-right: 25px;
    }

    .content-accordion-block-title::after {
        font-size: 30px;
        line-height: 20px;
        margin-top: 5px;
    }


    .content-block-table .content-block-row {
        margin-top: 35px;
        display: block;
    }

    .content-block-table .content-block-row:nth-child(1) {
        margin-top: 35px;
        display: block;
    }

    .content-block-col {
        width: 100%;
        padding-left: 0;
        font-size: 0.95em;
    }


    /*
    .reponsive-table {
        background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0));

        background-position: left center, right center, left center, right center;
        background-repeat: no-repeat;
        background-color: white;
        background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
        background-attachment: local, local, scroll, scroll;
    } */


    .reponsive-table {
        /* background:
            radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
            radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 100% 0;
        background-color: white;
        background-repeat: no-repeat;
        background-size: 10px 100%;
        margin-bottom: 15px; */
        /* box-shadow: 7px 0 0 0 rgba(0, 0, 0, .075), 10px 0 10px 0 rgba(102, 175, 233, .6); */
    }

    /*
    .reponsive-table::-webkit-scrollbar {
        display: initial;
    } */

    /* .reponsive-table table {
        background:
            radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
            radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 100% 0;
        background-color: white;
        background-repeat: no-repeat;
        background-size: 10px 100%;
        margin-bottom: 15px;
    } */


    table.content-table thead tr th {
        padding: 15px;
        font-size: 17px;
    }

    table.content-table tbody tr td {
        font-size: 16px;
        /* font-weight: 300; */
    }


}


@media only screen and (max-width: 576px) {
    table.content-table tbody tr td {
        font-size: 14px;
        padding: 10px;
    }

}

/*
@media only screen and (max-width: 479px) {

    h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20px;
    }

} */

/* Shadow Table */

.reponsive-shadow-table-wrapper{
    position: relative;
    width: 100%;
}

.reponsive-shadow-table-wrapper table.content-table thead tr th{
    border-right: 0;
    padding: 30px 0;
}

.reponsive-shadow-table-wrapper table.content-table tbody tr td{
    border-right: 0;
    padding: 0;
}

@media only screen and (max-width: 1400px) {
    .reponsive-shadow-table-wrapper:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1px;
        z-index: 2;
        width: 1px;
        box-shadow: rgb(0 0 0 / 30%) 2px 0px 5px 0px;
    }
    .reponsive-shadow-table-wrapper:after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -1px;
        z-index: 2;
        width: 1px;
        box-shadow: rgb(0 0 0 / 30%) -3px 0px 5px 0px;
    }

    .reponsive-shadow-table-wrapper.on-start:before{
        display: none;
    }

    .reponsive-shadow-table-wrapper.on-end:after{
        display: none;
    }

}


@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 576px) {


}


