:root {
    /* --swiper-theme-color: #002D4D; */
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2380E0CE'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2380E0CE'%2F%3E%3C%2Fsvg%3E");
}

html {
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
    vertical-align: top;
}

#web-top {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', 'Noto Sans TC', 'Noto Sans SC', sans-serif;
    font-size: 16px;
    margin: 0;
    padding-top: 0;
}

body.no-scroll{
    overflow: hidden !important;
}

img {
    max-width: 100%;
    vertical-align: top;
}

a {
    color: #0597C4;
    text-decoration: none;
    word-break: break-word;
}

a:hover {
    text-decoration: underline;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    /* box-shadow: 0 1px 7px 0px #616161; */
    transition: top 0.3s ease;
    backdrop-filter: saturate(180%) blur(20px);
}

.site-nav {
    padding-top: 60px;
    /* padding-bottom: 40px; */
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
}

body.menu-active {
    overflow: hidden;
}

body.menu-active .site-nav {
    background-color: #07324C;
}

body.menu-active .site-nav .header-logo_text{
    display: none;
}

.header-bar .desktop {
    display: block;
}

.header-bar .mobile {
    display: none;
}

.header-bar-left {
    width: 610px;
    display: flex;
    vertical-align: top;
    align-items: center;
    color: #000 !important;
    text-decoration: none !important;
}

.header-logo_img {
    width: 99px;
}

.header-logo_img img{
    width: 100%;
}

.header-logo_text {
    width: calc(100% - 99px);
    padding-left: 10px;
    font-family: Arial, sans-serif;
}

.header-logo_text-title {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header-logo_text-text {
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.header-bar-right {
    width: calc(100% - 610px);
    vertical-align: top;
}

.header-bar-full{
    width: 100%;
    height: 80px;
    margin-top: 36px;
    background-color: #07324C;
}

.header-tools {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: -15px;
}

.header-tools_item {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #333333;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;
}

.header-tools_item:nth-child(1) {
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
}

.header-tools_item img{
    height: 28px;
}

.other-lang{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.other-lang-item{
    display: inline-block;
    margin-left: 18px;
}

.other-lang-item a{
    font-size: 18px;
    color: #000;
}

.other-lang-item::after{
    content: '|';
    display: inline-block;
    margin-left: 18px;
}

.other-lang-item:last-child::after{
    content: initial;
}

.header-nav {
    display: flex;
    justify-content: center;
}

.header-nav a {
    color: #fff;
}

.header-nav_item {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0 30px;
    height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-nav_item-link{
    height: 80px;
    line-height: 80px;
}
.header-nav_item.has-sub:hover .header-nav_item-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -14px;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 15px;
    background-image: url('../images/nav-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
}

.header-nav_item:nth-child(1) {
    margin-left: 0;
}

.header-bar {
    display: flex;
    align-items: flex-end;
    position: relative;
    flex-flow: wrap;
}

.mobile_header-tools {
    text-align: right;
}
.mobile_header-tools_item {
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
    width: 38px;
    cursor: pointer;
    position: relative;
}
.mobile_header-tools_item img {
    width: 100%;
    vertical-align: middle;
}

.lang_menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #FFF;
    box-shadow: 1px 1px 5px #616161;
}

.mobile_header-tools_item:hover .lang_menu {
    display: block;
}

.lang_menu_item {
    display: block;
    padding: 0 10px;
    margin: 10px 0;
}

.menu-active .mobile_header-tools_item:not(.menu-trigger) {
    display: none;
}

.menu-active .hamburger.is-active .hamburger-inner,
.menu-active .hamburger.is-active .hamburger-inner:after,
.menu-active .hamburger.is-active .hamburger-inner:before{
    background-color: #fff;
}

.hamburger.is-active:hover, .hamburger:hover {
    opacity: 1;
}

.hamburger, .hamburger *, .hamburger *:after, .hamburger *:before {
    width: 100%;
    padding: 0;
}



.mobile_header-nav_wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    display: none;
}



.mobile_header-nav {
    max-height: 100%;
    background-color: #07324C;
    padding: 0 0 20px;
    box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.3);
    overflow: auto;
    height: 100vh;
}

.mobile_header-nav_item {
    margin: 40px 0;
}

.mobile_header-nav-link {
    font-size: 32px;
    color: #FFF;
    font-weight: 700;
    display: block;
}

.mobile_header-nav_sub-item {
    position: relative;
    display: block;
    font-size: 22px;
    color: #FFF;
    margin: 20px 0;
    padding-left: 20px;
}

.mobile_header-nav_sub-item::before{
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #80E0CE;
    position: absolute;
    top: 10px;
    left: 0px;
}

.mobile_header-nav_item.has-sub .mobile_header-nav-link {
    padding-right: 50px;
    position: relative;
}

.mobile_header-nav_item.has-sub .mobile_header-nav-link:after {
    content: '\f105';
    font-family: 'FontAwesome';
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 1.4em;
}

.mobile_header-nav_item.has-sub.open-sub .mobile_header-nav-link:after {
    transform: rotate(90deg);
}

.mobile_header-nav_sub {
    display: none;
}

.mobile_header-nav_item.has-sub.open-sub .mobile_header-nav_sub {
    display: block;
}

.mobile_header-nav_wrapper .other-tools{
    display: block;
    width: 100%;
    margin-top: 40px;
}

.mobile_header-nav_wrapper .other-tools img{
    height: 28px;
}

.mobile_header-nav_wrapper .other-lang{
    display: block;
    width: 100%;
    margin-top: 40px;
    color: #FFF;
}

.mobile_header-nav_wrapper .other-lang-item{
    margin-left: 0;
    margin-right: 18px;
    margin-bottom: 15px;
}

.mobile_header-nav_wrapper .other-lang-item a{
    font-size: 18px;
    color: #FFF;
}

.header-nav_sub {
    /* display: flex;
    flex-flow: wrap; */
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    /* padding: 20px 40px; */
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    background-color: #07324C;
    transition: 0.3s;

}

.header-nav_sub-container{
    display: flex;
    flex-flow: wrap;
    max-width: 1540px;
    padding: 40px 50px;
    margin: auto;
}

.header-nav_sub-item {
    position: relative;
    display: flex;
    align-items: start;
    padding: 15px 20px;
    width: 33.3%;
}

.header-nav_sub-item:hover {
    color: #80E0CE;
}

.header-nav_sub-item::before{
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #80E0CE;
    position: absolute;
    top: 20px;
    left: 20px;
}

.header-nav_sub::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -50%;
    /* background-color: rgba(255, 255, 255, 0.9); */
    background-color: #07324C;
    box-shadow: inset 0 20px 20px -20px #021724;
    width: 200%;
    height: 100%;
    z-index: -1;
}

.header-nav_item-link {
    position: relative;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* .header-nav_item-link::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 15px;
} */

.header-nav_item:hover, .header-nav_item.active{
    background-color: #80E0CE;
}

.header-nav_item:hover .header-nav_item-link, .header-nav_item.active .header-nav_item-link {
    background-color: #80E0CE;
    color: #07324C;
}

.header-nav_item:hover .header-nav_sub {
    opacity: 1;
    visibility: visible;
}

/* .header-nav_item.has-sub .header-nav_item-link::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -40px;
    height: 5px;
    width: 0;
    transform-origin: center top;
    background-color: #C1E5E1;
    transform: translate(-50%, 0);
} */

.header-nav_item.has-sub:hover .header-nav_item-link::before {
    width: 10000px;
    transition: 1s 0.03s;
}

.header-nav_sub-item_img {
    width: 80px;
    text-align: center;
}

.header-nav_sub-item_name {
    padding-left: 15px;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.header-nav_sub-item:hover .header-nav_sub-item_name {
    color: #80E0CE;
}

.top-highlight {
    width: 100%;
    padding: 40px 0 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.top-highlight .site-wrapper {
    position: relative;
}

.top-highlight-row {
    width: calc(50% - 4px);
    padding: 0 20px;
    display: inline-block;
    vertical-align: middle;
}

.top-highlight-row:nth-child(2n+2) {
    border-left: 1px solid #002D4D;
}

.top-highlight-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 0;
}

.top-highlight-item:nth-child(1n+2) {
    border-top: 1px solid #CCC;
}

.top-highlight-item.large  .top-highlight-item-img {
    width: 40%;
}

.top-highlight-item-title {
    padding-left: 20px;
    font-size: 18px;
    position: relative;
    padding-right: 1em;
}

.top-highlight-item-img img {
    width: 100%;
}

.top-highlight-item.large .top-highlight-item-title {
    font-size: 23px;
    width: 60%;
}

.top-highlight-item.small .top-highlight-item-img {
    width: 60px;
}

.top-highlight-item.small .top-highlight-item-title {
    width: calc(100% - 60px);
}

.top-highlight-item-title::after {
    content: '\f105';
    font-family: 'FontAwesome';
    color: #002D4D;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.top-highlight_close {
    position: absolute;
    right: 20px;
    top: -25px;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/close.svg);
    cursor: pointer;
}

.site-outer h1{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 74px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px #000;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 110px;
}



@media only screen and (max-width: 1400px) {
    .header-bar-right {
        width: 100%;
    }

    .site-outer h1 {
        font-size: 55px;
    }
}

@media only screen and (max-width: 960px) {
    .header-bar .desktop, .header-bar-full {
        display: none;
    }
    .header-bar .mobile {
        display: block;
    }

    .header-logo_img {
        width: 75px;
    }
    .header-logo_text-title {
        font-size: 14px;
    }
    .header-logo_text {
        width: calc(100% - 75px);
    }

    .header-logo_text img{
        max-height: 45px;
    }
    .header-logo_text-text {
        font-size: 12px;
    }
    .site-nav {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .header-nav {
        display: none;
    }
    .header-bar-left {
        width: calc(100% - 160px);
    }
    .header-bar-right {
        width: 160px;
    }
    .header-bar {
        align-items: center;
    }
    .mobile_header-tools_item {
        width: 30px;
    }
    .top-highlight-row {
        width: 100%;
        padding: 0;
    }

    .top-highlight-row:nth-child(2n+2) {
        border-left: 0;
        border-top: 1px solid #CCC;
    }

    .top-highlight-item.large .top-highlight-item-img {
        width: 60px;
    }

    .top-highlight-item.large .top-highlight-item-title {
        font-size: 16px;
        width: calc(100% - 60px);
    }

    .top-highlight-item.small .top-highlight-item-title {
        font-size: 16px;
    }

    .top-highlight {
        padding: 20px 0 0;
    }

    .top-highlight_close {
        position: absolute;
        right: 10px;
        top: -10px;
        width: 15px;
        height: 15px;
    }

    .site-outer h1 {
        font-size: 45px;
        padding-left: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .site-nav {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .header-logo_img {
        width: 50px;
    }
    .header-logo_text {
        width: calc(100% - 50px);
    }
    .header-bar-left {
        width: calc(100% - 85px);
    }
    .header-bar-right {
        width: 85px;
    }
    .mobile_header-tools_item {
        margin-left: 5px;
        width: 16px;
    }
    .mobile_header-nav {
        padding: 0 0 30px;
    }
    .mobile_header-nav_item {
        margin: 20px 0;
    }
    .mobile_header-nav-link {
        font-size: 22px;
    }
    .mobile_header-nav_sub-item {
        font-size: 18px;
        margin: 15px 0;
    }
    .mobile_header-nav_item.has-sub .mobile_header-nav-link:after {
        font-size: 30px;
    }
    .mobile_header-tools_item {
        margin-left: 5px;
        width: 20px;
    }
    .hamburger-inner:after {
        bottom: -7px;
    }
    .hamburger-inner:before {
        top: -7px;
    }
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        height: 3px;
    }

    .site-outer h1 {
        font-size: 38px;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////// */

.bottom-menu-wrapper {
    background-color: #C1E5E1;
    padding: 50px 0;
}

.bottom-menu {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.bottom-menu_row {
    max-width: calc(25% - 4px);
    padding-right: 10px;
    display: inline-block;
    margin-right: 110px;
}

.bottom-menu_row:last-child{
    margin-right: 60px;
}

.bottom-menu_row-title {
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 10px;
    white-space: nowrap;
}

.bottom-menu_row-item {
    font-size: 15px;
    margin: 15px 0;
}

.bottom-menu_row-item a {
    color: #333;
}

.bottom-menu-wrapper {
    background-color: #C1E5E1;
    padding: 40px 0;
}

@media only screen and (max-width: 960px) {
    .bottom-menu_row {
        width: 100%;
        padding-right: 0;
        margin-top: 30px;
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .bottom-menu-wrapper {
        padding: 40px 0;
    }
    .bottom-menu_row-item {
        margin: 10px 0;
    }
    .bottom-menu_row {
        margin-top: 15px;
    }
}


@media only screen and (max-width: 576px) {
    .site-outer h1{
        font-size: 40px;
        padding-left: 35px;
        align-items: flex-end;
        padding-bottom: 30px;
        width: 30%;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////// */

footer {
    background-color: #07324C;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.bottom-logo_item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    width: 140px;
}

.bottom-logo_item:first-child {
    margin-left: 0;
}

.bottom-logo_item:last-child {
    margin-right: 0;
}

.bottom-logo_item img {
    width: 100%;
    max-width: 100%;
}

.bottom-date {
    margin-top: 25px;
    letter-spacing: 0.5px;
}

.bottom-nav {
    margin-top: 10px;
}

.bottom-nav_item {
    display: inline-block;
    padding-left: 5px;
    margin-left: 5px;
    border-left: 1px solid #fff;
    letter-spacing: 0.5px;
}

.bottom-nav_item:nth-child(1) {
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
}

footer a {
    color: #fff;
}

.scroll-top {
    position: fixed;
    bottom: 35px;
    right: 50px;
    color: #FFF;
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    z-index: 10;
}

.scroll-top i {
    line-height: 40px;
    font-size: 30px;
    transition: color 0.3s ease;
}

.scroll-top::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100%;
    background-color: #80E0CE;
    opacity: 0.5;
    z-index: -1;
    border-radius: 50%;
    transition: opacity 0.3s ease;
}

.scroll-top:hover::after {
    opacity: 0.8;
}

.scroll-top:hover i {
    color: #002D4D;
}

@media only screen and (max-width: 767px) {
    .bottom-logo_item {
        margin: 0 8px;
        width: 75px;
    }
    .bottom-date {
        margin-top: 15px;
    }
    footer {
        padding: 30px 0;
        font-size: 12px;
    }
    .bottom-menu-wrapper{
        display: none;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////// */

.btn {
    display: inline-block;
    color: #333;
    text-decoration: none !important;
    padding: 9px 44px;
    background-color: #80E0CE;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 500;
    border: 1px solid #80E0CE;
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
    cursor: pointer;
    user-select: none;
    text-align: center;
    min-width: 125px;
}

.btn:hover {
    background-color: #07324C;
    border: 1px solid #07324C;
    color: #fff;
}

.btn.white {
    background-color: #fff;
    color: #002D4D;
    border: 1px solid #fff;
}

.btn.white:hover {
    background-color: #002D4D;
    color: #DDD;
    border: 1px solid #002D4D;
}

.site-outer {
    margin: 0 auto;
    max-width: 1920px;
}


.site-wrapper {
    max-width: 1540px;
    padding: 0 50px;
    margin: auto;
}

.site-wrapper .content-section{
    border-top: 1px solid #B3B3B3;
    margin-top: 75px;
    padding-top: 75px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.site-wrapper .video-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}

.site-wrapper .video-item{
    margin: 30px 35px;
}

.site-wrapper .video-section .video-item-container{
    width: 462px;
    height: 260px;
}

.site-wrapper .video-section .video-item-lang{
    margin-top: 30px;
    font-size: 22px;
    color: #0597C4;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: #80E0CE;
    /* background: var(--swiper-theme-color); */
    border: none;
    /* border: 1px solid var(--swiper-theme-color); */
    opacity: 1;
    margin: 0 5px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #FFF;
    border: 1px solid #80E0CE;
}

.bg-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.index-section {
    padding: 100px 0;
}

.index-section.section-black {
    background-color: #332E3A;
    color: #FFF;
}

.index-section.section-grey {
    background-color: #EDEDED;
    color: #002D4D;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.no-underline {
    text-decoration: none !important;
}

.display-desktop {
    display: block;
    position: relative;
}

.display-mobile {
    display: none;
    position: relative;
}

@media only screen and (max-width: 1100px) {

    .site-wrapper .video-item{
        margin: 20px 15px;
    }
    .site-wrapper .video-section .video-item-container{
        width: 400px;
        height: 225px;
    }

}

@media only screen and (max-width: 960px) {

    .index-section {
        padding: 60px 0;
    }

    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        margin: 0 3px;
    }
    .site-wrapper .content-section{
        margin-top: 40px;
        padding-top: 40px;
    }

    .site-wrapper .video-section{
        flex-direction: column;
        margin-bottom: 30px;
    }

    .site-wrapper .video-section .video-item-container{
        width: 461px;
        height: 260px;
    }

}

@media only screen and (max-width: 767px) {
    .site-wrapper {
        padding: 0 20px;
    }
    .index-section {
        padding: 40px 0;
    }
    .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
    }
    .btn {
        font-size: 16px;
        padding: 7px 30px;
    }

    .site-wrapper .video-section{
        margin-bottom: 30px;
    }

    .site-wrapper .video-item{
        margin: 0;
        margin-bottom: 30px;
    }

    .site-wrapper .video-item .video-item-lang{
        margin-top: 10px;
        font-size: 18px;
    }

    .site-wrapper .video-section .video-item-container{
        width: 335px;
        height: 188px;
    }
}

@media only screen and (max-width: 576px){
    .display-mobile {
        display: block;
    }

    .display-desktop {
        display: none;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////// */

.index_slider {
    position: relative;
}

.index_slider .swiper-slide img {
    width: 100%;
}


.index_slider .swiper-pagination-bullet {
    width: 120px;
    border-radius: 0;
    height: 4px;
    opacity: 1;
    background-color: #fff;
    margin: 0 4px;
}

.index_slider .swiper-pagination-bullet-active {
    background-color: #E98037;
}

.index_slider .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 20px;
    border: 0;
}

.index_slider .swiper-container-horizontal>.swiper-pagination-bullets, .index_slider .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
}

.index-section-title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: #002D4D;
}

.section-black .index-section-title {
    color: #FFF;
}

.section-news-list {
    margin: 60px 0;
}

.section-news-item {
    padding: 60px 60px 40px;
    border-top: 1px solid #ccc;
}

.section-news-item a {
    text-decoration: none;
}

.section-news-item:last-child {
    border-bottom: 1px solid #ccc;
}

.section-news-item_date {
    color: #002D4D;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 15px;
}

.section-news-item_title {
    font-size: 24px;
    position: relative;
    color: #333;
}

.section-news-item_title:after {
    content: '\f105';
    font-family: 'FontAwesome';
    color: #002D4D;
    position: absolute;
    right: -35px;
    top: -0.1em;
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.section-news-item:hover .section-news-item_title:after {
    transform: translate(10px, 0);
}

.section-news-btn {
    text-align: right;
}

.article_slider {
    padding: 60px 50px;
    position: relative;
    /* --swiper-theme-color: #FFF; */
}

.article_slider .swiper-button-next, .article_slider .swiper-button-prev {
    top: 169.5px;
    margin-top: 0;
}

.article_slider .swiper-button-next, .article_slider .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23002D4D'%2F%3E%3C%2Fsvg%3E");
}

.article_slider .swiper-button-prev, .article_slider .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23002D4D'%2F%3E%3C%2Fsvg%3E");
}

.section-article-item {
    display: inline-block;
    width: 100%;
    padding: 20px;
}

.section-article-icon {
    max-width: 220px;
    margin: auto;
}

.section-article-text {
    padding-top: 25px;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
}

.section-useful-licence {
    padding-top: 100px;
    text-align: center;
}

.section-useful-licence-text {
    font-size: 20px;
    padding-top: 15px;
}

.article_slider .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    padding-top: 30px;
    width: 100%;
    position: relative;
}

.article_slider .swiper-pagination-bullet {
    margin: 0 15px;
}

.article_slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: transparent;
}

.other_site_slider {
    max-width: 910px;
    margin: auto;
    position: relative;
}

.other_site_slider .swiper-slide {
    width: 165px;
}

.other_site_slider .swiper-slide img {
    width: 100%;
}

.other_site_slider .swiper-button-next, .other_site_slider .swiper-button-prev {
    color: #002D4D;
}

.other_site_slider .swiper-button-next, .other_site_slider .swiper-container-rtl .swiper-button-prev {
    right: -50px;
}

.other_site_slider .swiper-button-prev, .other_site_slider .swiper-container-rtl .swiper-button-next {
    left: -50px;
}

.other_site_slider .swiper-pagination {
    width: 100%;
    bottom: -40px;
}

.article_search_lightbox_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.article_search_lightbox_wrapper.active {
    opacity: 1;
    visibility: visible;
}

.article_search_lightbox_close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/close_w.svg);
    cursor: pointer;
}

.article_search_lightbox_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #000;
}

.article_search_lightbox {
    width: calc(100% - 40px);
    max-width: 1200px;
    height: 100%;
    max-height: calc(100% - 40px);
    background-color: #332E3A;
    position: relative;
    z-index: 1;
    padding: 50px 40px;
    border-radius: 20px;
}

.article_search_full_list {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    margin: 0 -20px;
}

.article_search_full-item {
    width: 33.3%;
    padding: 20px;
    color: #FFF;
}

@media only screen and (max-width: 1400px) {
    .other_site_slider .swiper-button-prev, .other_site_slider .swiper-container-rtl .swiper-button-next {
        left: -40px;
    }
    .other_site_slider .swiper-button-next, .other_site_slider .swiper-container-rtl .swiper-button-prev {
        right: -40px;
    }
}

@media only screen and (max-width: 960px) {
    .index_slider .swiper-button-next, .index_slider .swiper-button-prev {
        padding: 18px 15px;
        height: auto;
        width: auto;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .index_slider .swiper-button-next:after, .index_slider .swiper-button-prev:after {
        font-size: 30px;
    }

    .index_slider .swiper-button-next, .index_slider .swiper-container-rtl .swiper-button-prev {
        right: 0;
    }

    .index_slider .swiper-button-prev, .index_slider .swiper-container-rtl .swiper-button-next {
        left: 0;
    }

    .section-news-item {
        padding: 40px 30px 40px 0;
    }
    .section-news-item_title:after {
        top: -1.3em;
        right: -30px;
        font-size: 2em;
    }
    .section-news-btn {
        text-align: center;
    }
    .article_slider {
        padding: 60px 0;
    }
    .other_site_slider {
        padding: 20px 0;
    }
    .other_site_slider .swiper-slide {
        width: 152px;
    }
    .other_site_slider .swiper-pagination {
        bottom: -20px;
    }
    .other_site_slider .swiper-button-next, .other_site_slider .swiper-container-rtl .swiper-button-prev {
        right: -40px;
    }
    .other_site_slider .swiper-button-prev, .other_site_slider .swiper-container-rtl .swiper-button-next {
        left: -40px;
    }
    .section-article-item {
        width: calc(50% - 4px);
    }
}

@media only screen and (max-width: 767px) {
    .index_slider .swiper-button-next, .index_slider .swiper-button-prev {
        padding: 10px 8px;
    }
    .index-section-title {
        font-size: 28px;
    }
    .section-news-list {
        margin: 40px 0;
    }
    .index_slider .swiper-pagination-bullet {
        width: 40px;
        margin: 0 4px;
    }
    .index_slider .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 6px;
    }
    .section-news-item_date {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .section-news-item_title {
        font-size: 16px;
    }
    .section-news-item {
        padding: 20px 30px 20px 0;
    }
    .article_slider {
        padding: 20px 0;
    }
    .section-useful-licence {
        padding-top: 40px;
    }
    .section-article-text {
        padding-top: 15px;
        font-size: 14px;
    }
    .article_slider .swiper-pagination-bullet {
        margin: 0 8px;
    }
    .other_site_slider .swiper-slide {
        width: 100px;
    }
    .other_site_slider .swiper-button-next, .other_site_slider .swiper-button-prev {
        /* --swiper-navigation-size: 20px; */
        width: 20px;
        height: 33px;
        background-size: 20px 33px;
    }
    .other_site_slider {
        padding: 20px 0;
    }
    .other_site_slider .swiper-button-next, .other_site_slider .swiper-container-rtl .swiper-button-prev {
        display: none;
    }
    .other_site_slider .swiper-button-prev, .other_site_slider .swiper-container-rtl .swiper-button-next {
        display: none;
    }
    .scroll-top {
        right: 20px;
    }
    .article_search_full-item {
        width: 50%;
    }
}

@media only screen and (max-width: 520px) {
    .header-logo_img {
        width: 13.5%;
    }
    .header-logo_text {
        padding-left: 3%;
    }
}


.table-container{
    width: 100%;
}
#dt-fixleft_wrapper table{
    table-layout: fixed;
}
#dt-fixleft_wrapper thead{
    background-color: #014B70;
    color: #fff;
}
#dt-fixleft_wrapper thead th{
    vertical-align: middle;
    height: 115px;
    padding: 10px;
    font-size: 26px;
    font-weight: 500;
    width: 180px!important;
    border-left: 1px solid #fff;
}
#dt-fixleft_wrapper thead th.left{
    width: 560px!important;
}

#dt-fixleft_wrapper td{
    height: 70px;
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border-bottom: none;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td{
    border-top: none;
    border-left: 1px solid #fff;
}
table.dataTable tbody tr{
    background-color: #E6E6E6;
}

@media only screen and (max-width: 1400px) {
    #dt-fixleft_wrapper thead th.left{
        width: 560px!important;
    }
    .DTFC_LeftHeadWrapper, .DTFC_LeftBodyWrapper{
        box-shadow: rgb(0 0 0 / 30%) 5px 0px 5px 0px;
    }
}
@media only screen and (max-width: 960px) {
    #dt-fixleft_wrapper thead th.left{
        width: 360px!important;
    }
}
@media only screen and (max-width: 767px) {
    #dt-fixleft_wrapper thead th{
        font-size: 22px;
        width: 160px!important;
    }
    #dt-fixleft_wrapper thead th.left{
        width: 210px!important;
    }

    #dt-fixleft_wrapper thead th{
        height: 115px
    }

}
@media only screen and (max-width: 576px) {
    #dt-fixleft_wrapper thead th{
        font-size: 18px;
        width: 140px!important;
    }
    #dt-fixleft_wrapper thead th.left{
        width: 180px!important;
    }

}


/* Document Icons :: Committee on the Promotion Page */

.link-bundle img{
    width: 70px;
}

.link-doc img, .link-pdf img, .link-ppt img{
    width: 54px;
}

/* Home page FCV Popup */

.fcv_modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.fcv_modal-dialog{
    position: relative;
    width: 90%;
    max-width: 1400px;
    z-index: 2000;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}

@media (min-width: 768px){
    .fcv_modal-dialog {
        width: 70%;
        margin: 30px auto;
    }
}

.fcv_modal-backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: rgba(0,0,0,.3);
    cursor: pointer;
}

@media (min-width: 768px){
    .fcv_modal-content {
        -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
        box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    }
}

.fcv_modal-content{
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    outline: 0;
    padding: 50px 0;
    overflow: hidden;
}

.fcv_modal-header{
    position: absolute;
    top:0 ;
    left: 0;
    right: 0;
    height: 50px;
    display: block;
    background-color: transparent;
    box-shadow: 0px 1px 4px #bbb;
}


.fcv_modal-close{
    position: absolute;
    right: 20px;
    top: 15px;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/close.svg);
    cursor: pointer;
}


.fcv--container{
    height: 70vh;
    min-height: 400px;
    max-height: 650px;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}


@media (min-width: 768px){
    .fcv--container{
        padding: 30px;
    }
}


.fcv--banner{
    text-align: center;
}

.fcv--banner img{
    margin: auto;
}

.fcv--banner .desktop{
    display: block;
}

.fcv--banner .mobile{
    display: none;
}

@media only screen and (max-width: 960px) {
    .fcv--banner .desktop{
        display: none;
    }

    .fcv--banner .mobile{
        display: block;
    }
}

.fcv--table{
    display: block;
    margin-bottom: 60px;
}

@media (min-width: 768px){
    .fcv--table{
        margin-bottom: 30px;
    }
}

.fcv--table:last-child{
    margin-bottom: 0;
}

.fcv--table-header{
    margin-bottom: 20px;
}

@media (min-width: 768px){
    .fcv--table-header{
        margin-bottom: 30px;
    }
}

